<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InputView"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".basic.message.MessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.InitCompatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.viewpager2.ViewPager2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".editor_adapter.StatefulActivity"
          />
        <activity
            android:name=".editor_adapter.fragment.FragmentEditorAdapterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".editor_animator.AnimationInterceptorActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".editor_animator.AnimationInterceptorActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".editor_animator.ImeAnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transform.video.VideoEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transform.figure.FigureEditActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>